body {
    background-color: lightblue;
  }
  h1 {
    background-image: url("sweats.jpg");
  }

  p {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
  }